= render "./shared/header"
%body.main
  .container.max-w
    %H1.text-center.create-event__title= "#{@group.name}に参加する"
    .row.mb-2
      .col-12
        = form_tag("/groups/#{@group.id}/group_members/#{@group.token}", method: :post) do
          = hidden_field :group_memvbers, :create, value: :true, name: :admission
          = submit_tag("参加する", class: "btn w-100 accent-1st-color-btn")

= render "./shared/footer"
