= render "./shared/header"
%body.main
  %H1.text-center.accent-1st-color グループ情報編集
  .container.max-w.mb-2
    .row
      .col-12
        = form_for(@group) do |f|
          .field.mb-2.image-field.text-center
            .text-left グループ画像
            = f.label :image, class: "mx-auto" do
              .image-preview
                = fa_icon 'plus-square 4x'
                .image-display-area
                  = image_tag @group.image

            = f.file_field :image, class: "js-upload-image"
            = f.hidden_field :image_cache
          .field.mb-2
            = f.label :name do
              グループ名
            = f.text_field :name, class: "form-control", autofocus: true, autocomplete: "name"
          .actions
            = f.submit "Update", class: "btn w-100 participation-btn"

= render "./shared/footer"
