= render "./shared/header"
%body.main
  %H1.text-center.create-event__title 新規グループ
  .container.max-w.mb-2
    .row
      .col-12
        .mx-auto.create-group__input-form
          = form_for [@group] do |f|

            .field.mb-2.image-field.text-center
              .text-left グループ画像
              = f.label :image, class: "mx-auto" do
                .image-preview
                  .image-display-area
                    = fa_icon 'plus-square 4x'
                    = image_tag @group.image

              = f.file_field :image, class: "js-upload-image"
              = f.hidden_field :image_cache

            .form-group.group__name
              = f.label :name, class: "form__label" do
                グループ名
              = f.text_field :name, class: "form-control", autocomplete: "off", placeholder: "グループ名を入力して下さい"
            = f.submit "実行", class: "btn w-100 participation-btn"

= render "./shared/footer"

