= render "./shared/header"

%body.main
  %H1.text-center.create-event__title= "#{current_user.name}のマイページ"
  .container

    .row
      %p.mx-auto.create-event__title 所属するグループ
    .row
      - @groups.each do |group|
        .col-md-6
          .card.mx-auto.mb-2.border-0.py-2.px-3
            %li.d-flex.align-items-center
              = lList_image(group)
              = lList_name(group)
              = link_to "", group_path(group)

    .row
      %p.mx-auto.create-event__title 作成したイベント
    .row
      - @created_events.each do |event|
        .col-md-6
          .card.mx-auto.mb-2.border-0.event
            = link_to "", "/events/#{event.id}/attend_statuses/#{event.token}"
            = render "./events/event", event: event

    .row
      %p.mx-auto.create-event__title 出欠登録したイベント
    .row
      - @attendance_events.each do |event|
        .col-md-6
          .card.mx-auto.mb-2.border-0.event
            = link_to "", "/events/#{event.id}/attend_statuses/#{event.token}"
            = render "./events/event", event: event
            = attend?(event)


= render "./shared/footer"
