%header
  .text-center
    = link_to "event-maneger", root_path, class: "h1 header__title"
    //TODO  ログイン操作はハンバーガーメニューにしたい
  .global-menu__trigger
  .global-menu__background.js-toggle-menu
  .global-menu__body.js-toggle-menu
    %nav.global-menu__nav
      %ul.global-menu__list
        %li.global-menu__item= link_to "ログイン", new_user_session_path
        %li.global-menu__item= link_to "ログアウト", destroy_user_session_path, method: :delete
        %li.global-menu__item= link_to "新規登録", new_user_registration_path
        %li.global-menu__item= link_to "イベント作成", new_event_path
