.card.mx-auto.mb-2.border-0.event
  .card-body
    %h5.card-title= event.name
    %h6.card-subtitle.mb-2.text-muted
      - if event.start_time.strftime('%Y%m%d') == event.end_time.strftime('%Y%m%d')
        = "#{event.start_time.strftime('%Y/%m/%d')} #{event.start_time.strftime('%H:%M')}~#{event.end_time.strftime('%H:%M')}"
      - else
        = "#{event.start_time.strftime('%Y/%m/%d')} ~ #{event.end_time.strftime('%Y/%m/%d')}"
    %h6.card-subtitle.mb-2.text-muted= event.place
    %p.card-text= event.comment
