.card-body
  %h5= event.name
  %h6
    = fa_icon 'clock-o'
    - if event.start_time.strftime('%Y%m%d') == event.end_time.strftime('%Y%m%d')
      = "#{event.start_time.strftime('%Y/%m/%d')} #{event.start_time.strftime('%H:%M')}~#{event.end_time.strftime('%H:%M')}"
    - else
      = "#{event.start_time.strftime('%Y/%m/%d')} ~ #{event.end_time.strftime('%Y/%m/%d')}"
  %h6
    = fa_icon 'map-marker'
    = event.place
  %p= event.comment
