.card-body
  .event-index
    .event-index__image
      = lList_image(event.organiser)
    .event-index__name
      %p.organiser-name
        = event.organiser.name
      %p.event-name
        = event.name

  .event-time
    = fa_icon 'clock-o'
    = event.event_time

  .event-venue.mt-1
    = fa_icon 'map-marker'
    = event.place

  .event-comment.mt-1
    = event.comment
