= render "./shared/header"

%body.main
  .container
    %h5.text-center.main-color イベント一覧
    .row
      - @events.each do |event|
        .col-md-6
          .card.mx-auto.mb-2.border-0.event
            = link_to "", event_path(event)
            = render "event", event: event
    .row
      .col-12.text-center
        = paginate @events

= render "./shared/footer"
