= render "./shared/header"
%body.main
  %H1.text-center.create-event__title 新規イベント
  .container.max-w.mb-2
    .row
      .col-12
        .mx-auto.create-event__input-form
          = form_for [@event] do |f|
            .form-group.event__name
              = f.label :name, class: "event__label" do
                イベント名
              = f.text_field :name, class: "form-control", placeholder: "イベント名を入力して下さい"

            //TO DO  カレンデータ入力にチャレンジする。
            .form-group.event__start-time
              = f.label :start_time, class: "event__label" do
                開始日時
              = f.datetime_select :start_time, class: "form-control"

            .form-group.event__end-time
              = f.label :end_time, class: "event__label" do
                終了日時
              = f.datetime_select :end_time, class: "form-control"

            .form-group.event__place
              = f.label :place, class: "event__label" do
                場所
              = f.text_field :place, class: "form-control", placeholder: "開催場所を入力して下さい"

            .form-group.event__comment
              = f.label :comment, class: "event__label" do
                コメント
              = f.text_area :comment, class: "form-control", placeholder: "コメントを入力して下さい"
            = f.submit "作成する", class: "btn w-100 participation-btn"

= render "./shared/footer"

