= render "./shared/header"

%body.main
  .event.container.max-w
    .row.mb-2
      .col-12
        .card-event-detail.mb-2
          =render "./events/event", event: @event
          - if current_user && @event.user_id == current_user.id
            .author-command
              = link_to "イベントを編集する", edit_event_path(@event), class: "btn mb-2 accent-1st-color-btn author-command__edit"
              = link_to "イベントを削除する", "/events/#{@event.id}", method: :delete, class: "btn accent-1st-color-btn author-command__delete"
    - if current_user
      .row.mb-2
        .col-6
          .w-50.mx-auto
            = link_to "参加", event_attend_statuses_path(@event, params: {attend: 1}), method: :post, class: "btn w-100 js-participation accent-1st-color-btn", remote: :true
        .col-6
          .w-50.mx-auto
            = link_to "欠席", event_attend_statuses_path(@event, params: {attend: 2}), method: :post, class: "btn w-100 js-absence accent-2nd-color-btn", remote: :true

    .row.mb-2
      .col-sm-12
        %h5.text-center.main-color 参加者
        .participant
          %ul.participant-list
            - @participants.each do |participant|
              %li.border-bottom{id: "user-id_#{participant.user.id}"}
                = participant.user.name

    .row.mb-5
      .col-sm-12
        %h5.text-center.main-color 欠席者
        .participant
          %ul.absentee-list
            - @absentees.each do |absentee|
              %li.border-bottom{id: "user-id_#{absentee.user.id}"}
                = absentee.user.name

    - if !current_user
      .row.mb-2
        .col-12
          .w-100.mx-auto
            .p.text-center.mb-4 出欠を登録するにはログインする必要があります
            .p.text-center ユーザー登録が完了している方
            = link_to "ログイン", new_user_session_path, class: "btn w-100 accent-1st-color-btn mb-4"
            .p.text-center ユーザー登録が済んでいない方
            = link_to "新規ユーザー登録", new_user_registration_path, class: "btn w-100 accent-1st-color-btn mb-4"



= render "./shared/footer"
